@media screen and (max-width: 1400px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 1000px){
  .panel-container {
    display: flex; /* Ensure the container uses flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    padding: 5% 3%;
    justify-content: space-between; /* This will space out the items evenly */
  }
  .panel-container a {
    width: calc(50% - 1rem); /* Adjust width to allow for margin, ensuring 2 items per row */
    margin-bottom: 1rem;
    margin-right: 1rem; /* Add right margin to space out the items */
  }

  /* To prevent double margin on the right for every 2nd item */
  .panel-container a:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 770px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    font-size: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  body {
    font-size: 0.8rem;
  }
  h1,
  .header-content h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
    margin: 1rem 10%;
    padding: 0;
    text-align: center;
  }
  .team-member img {
    width: 100px;
    height: 100px;
  }
  .team-member div p {
    font-size: 1rem;
    margin: 1rem 10%;
    padding: 0;
  }
  .panel-container {
    flex-direction: column;
    padding: 5% 3%;
  }
  .panel-container a {
    width: 100%;
    margin-bottom: 1rem;
  }
  ul li {
    font-size: 1rem;
    margin: 1rem 10%;
    padding: 0;
  }

  /* Contact us */
  .opportunity-list {
    margin: 1rem 5%;
    text-align: center;
  }

  /* Puzzle */
  .puzzle-container .content {
    flex-direction: column;
  }

  .puzzle-container div {
    order: 1;
  }

  .puzzle-container .graph-puzzle {
    order: 2;
    width: 100%;
  }

  .puzzle-container .explanation-text {
    order: 3;
  }

  .puzzle-container .graph-puzzle img {
    width: 100%;
    margin-right: 0;
  }

  .explanation-text {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .publications:nth-child(odd) img,
  .publications:nth-child(even) img {
    position: static;
    top: auto;
    right: auto;
    left: auto;
    transform: none;
    max-width: none;
    max-height: 550px;
    object-fit: contain;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }


  .publications-section:nth-child(odd),
  .publications-section:nth-child(even) {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
}
