/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #121618;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 0.3s ease;
}

/* Navbar */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-color: #07090a;
}

.nav-links {
  gap: 1.7rem;
  list-style: none;
  font-size: 1.3rem;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #2a373b;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #2a373b;
}

.logo {
  font-size: 1rem;
}
/* removed logo */
/* #logo-img {
  width: 102.4px;
  margin-top: 4rem;
  margin-right: 1rem;
  float: left;
} */

.logo p {
  font-size: 1.1rem;
  color: #ffffff;
  white-space: nowrap;
  margin-left: auto;
}

.logo:hover {
  cursor: default;
}

#current {
  text-decoration: underline;
  text-underline-offset: 1rem;
}
/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  margin-right: 2rem;
}

.hamburger-icon {
  display: flex;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Text */

h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #80fbbe 0%, #4bcfe0 100%);
}

.header-content h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #80fbbe 0%, #4bcfe0 100%);
  font-weight: normal;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #80fbbe 0%, #4bcfe0 100%);
}

/* Paragraphs */

p {
  font-size: 1.5rem;
  margin: 3rem 20%;
  /* text-align: justify; */
  color: #b7b7b7;
  line-height: 150%;
}

#law {
  text-align: left;
  margin: 5rem 15%;
}

.img-odelia {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.img-EU {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  font-size: 14px;
  font-weight: bold;
  color: grey;
  margin: 5rem 15%;
  margin-top: 0%;
  padding: 5px;
}
.facts {
  text-align: left;
  margin: 5rem 15%;
}

/* team */
.team-member {
  display: block;
  margin: 1rem 15%;
  padding: 2rem;
}
.team-member div {
  display: block;
  width: 100%;
}
.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  float: left;
  margin-right: 2rem;
  margin-bottom: 0;
}
.team-member h3 {
  margin: 0;
  text-align: left;
}

.team-member p {
  margin: 0;
  text-align: left;
}

/*publications*/

h6 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #80fbbe 0%, #4bcfe0 100%);
}

.panel-container {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  background-color: #121618;
}


.panel h2 {
  margin-top: 0.5em;
  font-size: 1.5em;
  color: #ffffff;
}

.panel p {
  font-size: 1.2em;
  line-height: 1.4;
}

.icon {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-bottom: 20px;
}

.icon-team img {
  width: 30%;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.icon-research img {
  width: 30%;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.icon-funding img {
  width: 30%;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.icon-contact-us img {
  width: 30%;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.panel-container a {
  width: 22%;
  background-color: #21282b;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #07090a;
  padding: 20px;
  text-align: center;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content a {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
}

.footer-content a img {
  width: 30px;
  height: 30px;
}
