/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #131313;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 0.3s ease;
}
#wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px; /* Height of the footer */
}

/* Navbar */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-color: #07090a;
}

.nav-links {
  gap: 1.7rem;
  list-style: none;
  font-size: 1.3rem;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-decoration-color: white;
  text-underline-offset: 1rem;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #80fbbe;
  text-decoration-color: #80fbbe;
}

.logo {
  font-size: 1.3rem;
}

.logo p {
  font-size: 1.1rem;
  color: #ffffff;
  white-space: nowrap;
  margin-left: auto;
}

.logo:hover {
  cursor: default;
}

#current {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  margin-right: 2rem;
}

.hamburger-icon {
  display: flex;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Text */

h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #80fbbe 40%, #4bcfe0 60%);
}

.header-content h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #80fbbe 0%, #4bcfe0 100%);
  font-weight: normal;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #80fbbe 0%, #4bcfe0 100%);
}

/* Paragraphs */

p {
  font-size: 1.5rem;
  margin: 2rem 20%;
  text-align: justify;
  color: #c7c7c7;
  line-height: 150%;
}

#law {
  text-align: left;
  margin: 5rem 15%;
}

.img-odelia {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.img-EU {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  font-size: 14px;
  font-weight: bold;
  color: grey;
  margin: 5rem 15%;
  margin-top: 0%;
  padding: 5px;
}

.facts {
  text-align: left;
  margin: 5rem 15%;
}

/* team */
.team-member {
  display: block;
  margin: 1rem 15%;
  padding: 2rem;
}

.team-member div {
  display: block;
  width: 100%;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  float: left;
  margin-right: 2rem;
  margin-bottom: 0;
}

.team-member h3 {
  margin: 0;
  text-align: left;
}

.team-member p {
  margin: 0;
  text-align: left;
}

/*publications*/

h6 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #80fbbe 0%, #4bcfe0 100%);
}

.panel-container {
  display: flex;
  justify-content: space-around;
  padding: 3% 7%;
  background-color: #000000;
}

.panel h2 {
  margin-top: 0.5em;
  font-size: 1.6em;
  color: #ffffff;
}

.panel p {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-bottom: 20px;
}

.icon-team img,
.icon-research img,
.icon-funding img,
.icon-contact-us img {
  width: 30%;
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.panel-container a {
  width: 22%;
  background-color: #21282b;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
}

.panel-container a:hover {
  outline: 2px solid white;
  box-shadow: 0 0 20px white;
}

/* Footer */
footer {
  background-color: #131313;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content a {
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
}

.footer-content a img {
  width: 30px;
  height: 30px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }

  h1,
  .header-content h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    margin: 1rem 10%;
  }

  .nav-links {
    font-size: 1rem;
  }

  .team-member img {
    width: 100px;
    height: 100px;
  }

  .panel-container {
    flex-direction: column;
    padding: 5% 3%;
  }

  .panel-container a {
    width: 100%;
    margin-bottom: 1rem;
  }
}
