/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Platypi", sans-serif;
  background-color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 0.3s ease;
}

/* Navbar */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 1.7rem;
  list-style: none;
  font-size: 1.3rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 1rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Text */

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

/* Paragraphs */

p {
  font-size: 1.5rem;
  margin: 5rem 15%;
}

#law {
  text-align: left;
  margin: 5rem 15%;
}

.img-odelia {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.img-EU {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  font-size: 14px;
  font-weight: bold;
  color: grey;
  margin: 5rem 15%;
  margin-top: 0%;
  padding: 5px;
}
.facts {
  text-align: left;
  margin: 5rem 15%;
}

/* team */
.team-member {
  display: block;
  margin: 1rem 15%;
  padding: 2rem;
}
.team-member div {
  display: block;
  width: 100%;
}
.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  float: left;
  margin-right: 2rem ;
  margin-bottom: 0;
}
.team-member h3 {
  margin: 0;
  text-align: left;
}

.team-member p {
  margin: 0;
  text-align: left;
}
